body{
    margin: 0px;
    text-align: center;
    font-family: 'merriweather',serif;/*we set merriweather for our website but if somthing teribble happen than serif font will show*/
    background-color: #EFFFFD;
    color: #2a3634;
}
p{
    line-height: 2;
}
.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #85F4FF;

}
h1{
    color: #0779E4;
    margin: 50px auto 0 auto;
    font-size: 5.625rem; /*for dynamic size  100% = 16px; 90px * (100/16) = 562.5; also 1em=16px; % and em are inherited i.e if parent have size it will add on it;so use rem instead og %,em*/
    font-family: 'sacramento',cursive;
}
h2{
    color: #0779E4;
    font-size: 1.8rem;
    margin-top: 0 ;
    font-weight: normal;
}
h3{
    color: #42C2FF;
}
.middle-container{
    margin: 80px 0;
}
.cloud-1{
    height: 170px;
    position: absolute;
    top: 50px;
    right: 300px;
}
.cloud-2{
    height: 170px;
    position: absolute;
    left: 300px;
    top: 150px;
}
.bottom-container{
    background-color: #42C2FF ;
    padding: 2.5em 0 1.5em;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.skill-img1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-img2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.profile{
    width: 40%;
    margin: auto;
}
hr{
    border-style: none;
    border-top: dotted;
    border-width: 10px;
    width: 5%;
    border-color: #cbe5e2;
    margin: 4% auto 5%;
}
.contact-me{
    width: 45%;
    margin: auto;
}
.btn {
    background: #42C2FF;
    background-image: -webkit-linear-gradient(top, #42C2FF, #0779E4);
    background-image: -moz-linear-gradient(top, #42C2FF, #0779E4);
    background-image: -ms-linear-gradient(top, #42C2FF, #0779E4);
    background-image: -o-linear-gradient(top, #42C2FF, #0779E4);
    background-image: linear-gradient(to bottom, #42C2FF, #0779E4);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3296e3;
    background-image: -webkit-linear-gradient(top, #3296e3, #32c8e3);
    background-image: -moz-linear-gradient(top, #3296e3, #32c8e3);
    background-image: -ms-linear-gradient(top, #3296e3, #32c8e3);
    background-image: -o-linear-gradient(top, #3296e3, #32c8e3);
    background-image: linear-gradient(to bottom, #3296e3, #32c8e3);
    text-decoration: none;
  }
.c-p{
    margin: 30px 0 65px;
}
.ava{
    background-color: #d8f3f8;
    padding: 0.5em 0;
    margin: 0 20%;
    color: #254862;
}
a{
    color: #0779E4;
    margin: 10px 10px; 
    font-family: 'merriweather',serif;
    text-decoration: none;
}
a:hover{
    color: #EFFFFD;
}
.copyright
{
    color: #dcf3ff; 
    font-family: 'merriweather',serif;
    font-size: 0.75em;
    padding: 1em;
}
